.game {
	display: flex;	
	flex-direction: column;
	align-items: center;	

	& button {
		width: 10%;
		text-align: center;
		color: blue;
		border: 1px solid blue;
		transition: 0.5s;
	}

	& button:hover {
		color: white;
		background-color: blue;
	}

}

.board {
	display: grid;
	justify-content: center;	
	flex-wrap: wrap;
	
}

@media screen and (max-width: 600px) {
	.game button {
		width: 30%;
	}

	.board {
		grid-template-columns: repeat(4, 6em) !important;
	}
}